/*Global Styles*/

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background: rgb(245, 245, 245);
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    list-style-type: none;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    outline: 0;
    border: none;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
 
  
  /* Navbar styles */
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    z-index: 99;
  
    .nav-title {
      font-size: 28px;
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      font-weight: 600;
    }
  
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .nav-btn {
        margin-left: 12px;
      }
    }
  }
  
  @media screen and (max-width: 1280px) {
    .nav-container .nav-title {
      font-size: 24px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav-container {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .nav-container {  
      .nav-title {
        font-size: 20px;
      }
    }
  }
  
  @media screen and (max-width: 360px) {
    .nav-container .nav-title {
      font-size: 18px;
    }
  }
  
  /* Home page and story card styles */
  
  .storyCard {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    justify-content: stretch;
    align-items: center;
    box-sizing: border-box;
  
    .storyImage {
      width: 160px;
      padding-bottom: 160px;
      object-fit: cover;
    }
  
    .storyContent {
      margin-left: 30px;
      padding: 10px;
  
      .storyTitle {
        font-size: 20px;
        color: rgb(90, 90, 90);
        font-weight: 600;
        transition: all 0.3s;
  
        &:hover {
          color: #00bcd4;
        }
  
        &:active {
          color: rgb(90, 90, 90);
        }
      }
  
      .authorScores {
        padding-top: 10px;
        font-size: 18px;
  
        .scorePoint {
          padding-right: 8px;
        }
  
        .authorName {
          padding-left: 8px;
        }
      }
  
      .cardComments {
        padding-top: 15px;
  
        .commentCount {
          font-size: 18px;
          padding-left: 5px;
          color: rgb(90, 90, 90);
          font-weight: 600;
        }
      }
  
      .newsTime {
        padding: 5px 0;
      }
    }
  }
  
  @media screen and (max-width: 1280px) {
    .container .storyCard {
      .storyContent {
        margin-left: 0px;
      }
  
      .storyImage {
        display: none;
      }
  
      .storyContent .storyTitle {
        font-size: 22px;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .container .storyCard .storyContent {
      .storyTitle {
        font-size: 18px;
      }
  
      .cardComments .commentCount {
        font-size: 14px;
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .container .storyCard .storyContent {
      margin: 0;
      padding: 0 10px;
      text-align: left;
  
      .storyTitle {
        font-size: 16px;
      }
  
      .authorScores {
        font-size: 12px;
      }
    }
  }
  
  /* Home button style */
  
  .centerBtn {
    width: 100%;
    padding-bottom: 10px;
  
    .loadMoreBtn {
      padding: 10px;
      border-radius: 25px;
      font-size: 16px;
  
      .arrowDown {
        padding-left: 5px;
      }
    }
  }
  
  /*Comment page styles */
  
  .container {
    .box-container {
      background: rgb(255, 255, 255);
      margin: 20px 0;
      padding: 0;
    }
  
    .loadMoreBtn {
      margin: 20px 0;
      padding: 8px 18px;
      border-radius: 25px;
      font-size: 16px;
    }
  
    .box-container .comment-container {
      width: 100%;
      
      .parent-comment {
        width: 100%;
        font-size: 16px;
        height: auto;
  
        h4 {
          font-size: 20px;
          color: rgb(90, 90, 90);
          font-weight: 600;
          padding-bottom: 10px;
        }
  
        .timestamp {
          padding-top: 10px;
        }
      }

      .child-comment {
        width: 100%;
      }

      .not-child {
        width: 100%;
      }    
    }
  }
  
  @media only screen and (max-width: 768px) {
    .container .box-container .comment-container .parent-comment {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .container .box-container .comment-container .parent-comment {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 360px) {
    .container .box-container .comment-container .parent-comment {
      font-size: 11px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .container .box-container .comment-container .parent-comment h4 {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .container .box-container .comment-container .parent-comment {
      h4 {
        font-size: 14px;
      }
  
      .comment-content {
        word-break: break-all;
        
        pre {
          white-space: pre-wrap;
        }

        a {
          word-break: break-all;
        }
      }
    }
  }
  
  /*Expand Icon Style */
  
  .MuiButtonBase-root.MuiIconButton-root.MuiExpansionPanelSummary-expandIcon.MuiIconButton-edgeEnd {
    position: absolute;
    top: 0;
    right: 8px;
  }

